<footer>
    <div class="container">
        <ul class="footer-links">
            <li><i class="bi bi-house"></i><%= link_to "Home", root_path %></li>
            <li><a href="#"><i class="bi bi-journal-bookmark-fill"></i> Compromissos</a></li>
            <li><a href="#"><i class="bi bi-coin"></i> Finanças</a></li>
            <li><a href="#"><i class="bi bi-pencil"></i> Estudo</a></li>
            <li><a href="#"><i class="bi bi-card-checklist"></i> Lista de Tarefas</a></li>
        </ul>
        <p>© 2024 DailyPlanning. Todos os direitos reservados.</p>
    </div>
</footer>