<header class="navbar">
        <i class="bi bi-journal-bookmark-fill mx-auto" id="logo">DailyPlanning</i>
        <button class="btn-offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
        </button>
    </header>
