<h1>Resultados da Filtro</h1>

<h2>Compromissos</h2>
<ul>
  <% @compromissos.each do |compromisso| %>
    <li><%= compromisso.titulo %></li>
  <% end %>
</ul>

<h2>Tarefas</h2>
<ul>
  <% @tarefas.each do |tarefa| %>
    <li><%= tarefa.titulo %></li>
        <li><%= tarefa.descricao %></li>

  <% end %>
</ul>
